@if (authService.authenticated()) {

  <header class="navbar">

    <div class="container">

      <a
        routerLink="/catalog"
        class="brand"
      >
        Carvajal Wishlist
      </a>

      <nav>

        <a
          routerLink="/catalog"
          routerLinkActive="active"
        >
          Catálogo
        </a>

        <a
          routerLink="/wishlist"
          routerLinkActive="active"
        >
          Wishlist
        </a>

        <a
          routerLink="/history"
          routerLinkActive="active"
        >
          Histórico
        </a>

        @if (authService.isAdmin()) {

          <a
            routerLink="/admin/products"
            routerLinkActive="active"
          >
            Productos
          </a>

          <a
            routerLink="/admin/roles"
            routerLinkActive="active"
          >
            Roles
          </a>

        }

      </nav>

      <div class="session">

        <span>
          {{ authService.username() }}
          -
          {{ authService.role() }}
        </span>

        <button
          type="button"
          (click)="logout()"
        >
          Cerrar sesión
        </button>

      </div>

    </div>

  </header>

}

<router-outlet />
